body{
	background:url(imagens/backgrounds/seaofclouds_1024x1024.png)  top center fixed;
	
	animation: bgTranslate 60.0s infinite linear;/**/
	-webkit-animation:  bgTranslate 60.0s infinite linear; /* Safari and Chrome */
	
	/*animation: bgTranslate 0.9s infinite linear;/**/
	
	
	/*-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	-ms-transition: all 1.0s linear;    
	transition: all 1.0s linear;/**/
	
	
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;/**/
	text-align: center center;
	color:#000000; font-size:14px; font-family:arial; /**/
	cursor: default;
}

@keyframes bgTranslate {
	/*from { transform: translate(100%,1em); }
	to { transform: translate(0%,1em); }/**/
	/*from {background: red;}
	to {background: yellow;}/**/
	from {background: #FFFFFF 1600px 100%;}
	to {background: #88CCFF 0% 100%;}
}
@-webkit-keyframes bgTranslate{ /* Safari and Chrome */
	from {background: url(imagens/backgrounds/seaofclouds_1024x1024.png) 1600px;}
	to {background: url(imagens/backgrounds/seaofclouds_1024x1024.png) 0%;}
}

header{
	/*background-color:rgba(0,0,0,0.2);/**/
	/*background:url(imagens/backgrounds/cabecalho.png);/**/
	background:url(imagens/backgrounds/tmw-br2.png);/**/
	
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;

	/*border: solid 1px;/**/
	
	position: relative;
	left: 50%;
	height:300px;
	width:1024px;
	margin: 0 0 0 -510px;/**/
	text-align: center;
}
.botaotwitter { 
	display: inline-block;
	width:55px; 
	height:20px; 
	/*border: 1px solid #FFF;
	overflow:hidden; /**/
	background-image: url(imagens/templantes/botoes-twitter-facebook.png); 
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
} 
.botaotwitter:hover {background-position: 0px -20px;}
.botaocurtir {
	display: inline-block;
	width: 55px;
	height: 20px;
	/*border: 1px solid #FFF;
	overflow:hidden;/**/
	background-image:url(imagens/templantes/botoes-twitter-facebook.png);
	background-repeat:no-repeat;
	background-position: 0px -40px;
}
.botaocurtir:hover, .botaocurtir:focus {background-position: 0px -60px;}



nav{
	/*background-color:rgba(0,0,0,0.2);/**/
	background:url(imagens/templantes/barra-horizontal-azul3.png);/**/
	position: relative;
	left: 50%;
	height:36px;
	width:1024px;
	margin: 0 0 -4 -510px;/**/
	padding:4px 0px 0px 0px; 
	color:#FFFFFF; font-size:14px; font-family:arial; /**/
	text-shadow:5px 5px 5px black;
	text-align: center;
}
section{
	background-color:rgba(255,255,255,0.65);
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	/*background-image: url(imagens/frames/frame2.png);/**/
	/*border-width: 25px 30px;
	border-image: url(imagens/frames/frame2.png) 25 30 stretch;
	-moz-border-image: url(imagens/frames/frame2.png) 25 30 stretch;
	-webkit-border-image: url(imagens/frames/frame2.png) 25 30 stretch;
	-o-border-image: url(imagens/frames/frame2.png) 25 30 stretch;
	-ms-border-image: url(imagens/frames/frame2.png) 25 30 stretch;/**/
	border: 2px solid #6abbd9;

	padding: 15px 15px 15px 15px; 
	position: relative;
	left: 50%;
	min-height:80%;
	width:990px; /* 1024px(ideal)-22(bordas) */
	margin: 0 0 0 -510px;/**/
}
footer{
	background:url(imagens/backgrounds/rodape.png);
	height:256px;
}
#plcVideo{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

button {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000 /*#8686eb/**/;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#0066FF);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#0066FF));
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	border: 2px solid #6abbd9;
}
button:disabled {
	padding: 2px 5px;
  	color: #888888;
	background: -moz-linear-gradient(
		top,
		rgba(128,128,128,0.5) 0%,
		rgba(128,128,128,0.5) 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(128,128,128,0.5)),
		color-stop(0.50, rgba(128,128,128,0.5)),
		to(#b5b5b5));
	border:2px rgba(0,0,0,0.2) solid;
	opacity: 0.3;

}
button:hover , button:focus{
	color: #888800;
	cursor: pointer;
   padding: 2px 5px;
   border:2px rgba(255,255,0,0.5) solid;
  	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#CCCC00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#CCCC00));

}
h1{
	color:#0066FF; font-size:24px; font-family:arial; /**/
}
article{
	color:#000000; font-size:16px; font-family:arial; /**/
	padding: 5px 15px;
	/*-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
   border:1px rgba(0,0,0,0.2) solid;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#CCEEFF 75%,
		#008800);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.75, #CCEEFF),
		to(#008800));/**/
}
